div#wapper {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

div#wapper div.panel {
  background-color: #fff;
  width: 90%;
  height: 90vh;
  box-shadow: 1px 6px 8px 2px rgba(0, 0, 0, 0.42);
  overflow: hidden;
  top: 0px;
  padding: 18px 6% 0px 6%;
  margin: 0 0 35px 20px;
  border: 1px solid rgba(147, 184, 189, 0.8);
  border-radius: 5px;

}

div#wapper div.panel h2 {
  font-family: "KoHo";
  text-align: center;
  color: #353b48;
  font-size: 24pt;
  margin-bottom: 0;
}

div#wapper div.panel h2 span {
  color: #40739e;
}

div#wapper div.panel p {
  text-align: center;
  margin-top: 0;
}

div#wapper div.panel form {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
}

div#wapper div.panel form label {
  font-size: 12pt;
  color: #777;
  font-weight: bolder;
  margin-bottom: 1%;
}


div#wapper div.panel form button {
  color: #f0f0f0;
  background-color: #40739e;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  margin-top: 2pc;
  margin-bottom: 1px;
  max-width: 50%;
  top: 50%;
  justify-content: center;
  padding: 8px 5px;
  align-items: center;
  float: right;

}

div#wapper div.panel form button:hover {
  animation: hoverAnimate;
  animation-duration: 1s;
  background-color: #353b48;
  letter-spacing: 1px;
}

.btn-text-right{
  text-align: right;
  margin-bottom: 90px;;
  float: right;
  display: flex;
  width: 200px;
  justify-content:flex-end
}

label {
  color: #242424;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 18px !important;
}


@media (max-width: 600px) {
  .panel {
    width: 50%;
  }
}

@media (max-height: 600px) {
  .panel {
    height: 50%;
  }
}

@keyframes hoverAnimate {
  to {
    transition: all 0.8s ease;
    letter-spacing: 2px;
    background-color: #353b48;
  }

  100% {
    letter-spacing: 2px;
  }
}
