<div id="wapper">
  <div class="panel">
    <h2> Vendinha da <span>Vó Cecília</span></h2>
    <br/>
    <form [formGroup]="loginForm" action="#">
      <div>
        <label>Username : </label>
        <br/>
        <input class="form-control" name="username" id="username" formControlName="username">
      </div>
      <br/>
      <div>
        <label>Password : </label>
        <br/>
        <input class="form-control" type="password" name="senha" formControlName="senha">
      </div>
      <button type="submit" (click)=handleLogin() class="button"> Entrar </button>
    </form>
  </div>
</div>
