div#wapper {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div#wapper div.panel {
  background-color: #fff;
  box-shadow: 1px 6px 8px 2px rgba(0, 0, 0, 0.42);
  overflow: hidden;
  top: 0px;
  padding: 18px 6% 0px 6%;
  margin: 0 0 35px 20px;
  border: 1px solid rgba(147, 184, 189, 0.8);
  border-radius: 15px;

}

div#wapper div.panel h2 {
  font-family: "KoHo";
  text-align: center;
  color: #353b48;
  font-size: 24pt;
  margin-bottom: 0;
}

div#wapper div.panel h2 span {
  color: #40739e;
}

div#wapper div.panel p {
  text-align: center;
  margin-top: 0;
}

div#wapper div.panel form {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;

}

div#wapper form label {
  font-size: 12pt;
  color: #777;
  font-weight: bolder;
  margin-bottom: 1%;
  font-family: "Open Sans";

}


div#wapper div.panel form button {
  color: #f0f0f0;
  background-color: #40739e;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 100%;
  width: 100px;

}

div#wapper div.panel form button:hover {
  animation: hoverAnimate;
  animation-duration: 1s;
  background-color: #353b48;
  letter-spacing: 1px;
}

.col {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
